.main {
    background-color: black;
}

.container {
    position: relative;
}
  
.headImg {                      /* Header Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

.headTxt {                      /* Text inside the header image */
    font-size: 1.65rem;
    position: absolute;
    bottom: 1.5%;
    right: 15%;
    background-color: black;
    color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns */
  .column {
    flex: 20%;
    padding: 20px;
  }
  
  /***************** Media Queries  *****************/

  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }

    .headTxt {
        font-size: 1.2rem;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .headTxt {
        font-size: .8rem;
    }
  }